{% extends "base.jinja" %}

{% block title %}asdcasdcascd{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Welcome to ThatGuyCalledJesseFS</h5>
                <p class="card-text w-50 my-4 mx-auto">This is a simple file server that allows you to upload and download files.</p>
                <a href="/upload" class="btn btn-primary">Upload a file</a>
                <a href="/download" class="btn btn-primary">Download a file</a>
            </div>
        </div>

{% endblock %}