{% extends 'base.html' %}

{% block body %}

<div style="margin: 4.2vw;">
    <h1 class="sub-title">Want a Server?</h1>
    <p class="text">It is as easy as uploading files and downloading them on the other end. Files are shared locally and you
        remain safe and happy.</p>
    <div style="margin: 2vw; text-align: center;">
        <button class="normal-btn" style="background-color: aqua;"><a href="/upload" class="btn-normal-link">Upload
                Files</a></button>
        <button class="normal-btn" style="background-color: rgb(251, 255, 2);"><a href="/download"
                class="btn-normal-link">Download Files</a></button>
    </div>
    <p class="text">This is a simple file server that allows you to upload and download files. Don't misuse this.</p>
</div>

{% endblock %}